* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .page {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .sidebar {
    width: 350px;       
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: rgb(21, 20, 44);
    height: 100%;
  }
  
  .search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45%;
    margin-top: 40%;
  }

  .search input {
    height: 40px;
    border-radius: 10px;
    background-color: rgb(40, 38, 80);
  }

  .search input::placeholder {
    padding-left: 12px;
  }

  .search button {
    height: 50px;
    background-color: rgb(234, 84, 3);
    border-radius: 12px;
    font-size: large;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }
  
  .results {
    display: flex;
    flex-direction: column;
    /*gap: 5px;*/
    background-color: rgb(37, 37, 71);
    height: 50%;
    align-items: center;
  }
  
  .result-card {
    padding: 12px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 90%;
  }

  .map-container {
    flex: 1;
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  